.container {
    height: 297px;
    width: 323px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    border-radius: 8px;
    border: 2px solid #CACACA;
    background: #F7F7F7;
}

.display {
    width: 275px;
    height: 175px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #D9D9D9;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.display img {
    width: 85px;
    height: 85px;
    flex-shrink: 0;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 50px;
    width: 244px;
}

.text p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

.timestamp {
    display: flex;
    width: 244px;
    align-items: center;
    padding-right: 168px;
}

.timestamp p {
    align-items: center;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}