.container {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 29px;
    position: relative;
}

.container:hover {
    width: 200px;
    flex-shrink: 0;
    border-radius: 5px;
    background: rgba(193, 193, 208, 0.55);
    position: relative;
}

.container img {
    width: 26px;
    height: 26px;
}

.container p {
    color: #34347B;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}