.container {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 29px;
    position: relative;
    transition: background 0.3s, width 0.3s; /* Smooth transition for hover effect */
}

.container:hover {
    width: 200px;
    border-radius: 5px;
    background: rgba(193, 193, 208, 0.55);
}

.container img {
    width: 26px;
    height: 26px;
}

.container p {
    color: #34347B;
    font-size: 18px;
    font-weight: 700;
    margin: 0; /* Ensure no extra margin around text */
}
