.container {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    width: auto;
    height: auto;
}

.searchbar_container {
    width: 683px;
    height: 67px;
    padding: 0px 20px;
    gap: 10px;
    border-radius: 5px;
    border: 2px solid #CACACA;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.frame135 {
    display: flex;
    width: 401px;
    align-items: center;
    gap: 10px;
}

.fram135 svg {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.search {
    width: 245.347px;
    height: 24px;
    flex-shrink: 0;
    color: #737373;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: #F4F4F4;
    border: none;
}

.user {
    display: flex;
    height: 35px; /* 67 - 16 - 16 = 35*/
    padding: 16px 24px;
    align-items: center;
    gap: 12px;
    border-radius: 5px;
    background: #F7F7F7;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.20);
}

.icon {
    width: 44px;
    height: 44px;
    background-color: #414172;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.icon p {
    color: #F7F7F7;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 24px */
    margin: 10px 0px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    height: auto;
    width: auto;
}

.name {
    width: 91px;
    height: 19.57px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 16px */
    padding: 0px;
    margin: 0px;
}

.email {
    color: #939393;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 16px */
    padding: 0px;
    margin: 0px;
}

