.container {
    width: 330px;
    height: 1024px;
    flex-shrink: 0;
    border-right: 1px solid #CBCBD5;
    background: #EDEDED;
    padding: 0px;
    position: relative;
}

.logo {
    padding-top: 57px;
    padding-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo svg{
    width: 42.897px;
    height: 40.72px;
}

.logo p {
    color: #34347B;
    font-size: 33.047px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
    padding: 0px;
}

.menu {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.new_doc {
    bottom: 39px;
    position: absolute;
    display: flex;
    width: 261px;
    height: 40px;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    background: #34347B;
    margin-left: 13px; /*center */

}

.new_doc p {
    color: #FFF;
    /* font-family: Manrope; */
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
