.container {
    display: flex;
    width: 1019px;
    height: 679px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    position: relative;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 817px;
    align-self: stretch;
}

.header p {
    width: auto;
    height: auto;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.icons {
    width: 65px;
    height: 34px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.icon1 {
    width: 34px;
    height: 34px;
    border-radius: 4.387px;
}

.icon2 {
    width: 20px;
    height: 20px;
}

.icon1:hover, .icon2:hover {
    background: #EBEBEB;
}

