.App {
  height: 1024px;
  background: #F4F4F4;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.right_container {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Allows it to take remaining space if needed */
}

.SearchBar {
  margin: 34px 50px;
}

.Dashboard {
  margin: 59px 50px 137px 42px;
}
